//////////////////////////
// Inputs Default style //
//////////////////////////

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="datalist"] {
	border: none;
	background-color: #f0f0f0;
	height: 40px;
	font-size: 14px;
	max-width: 300px;
	width: 300px;
  padding: 10px 5px;
  @include border-radius( 3px );
}
