////////////////////
// Load Component //
////////////////////
.load-more {
	text-align: center;
	color: #e3472f;
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background-color: #f4f4f1;
	padding: 20px 0;
	.fa-refresh { color: #e3472f; }
}