$primary-color: #e3472f;

$border-color: #f0f0f0;

// Category Colors:
$cat-ux: #00bbff;
$cat-study: #f4973c;
$cat-design: #00e2ad;
$cat-discussion: #4271d6;

// Fonts
$family-default: Helvetica Neue,Helvetica,Arial,sans-serif;